---
title: Page Title
---

.delete-me
  .container
    %h1 Proteus
    %p
      You're all set!
      <a href="http://github.com/thoughtbot/proteus-middleman">Let's get started</a>
      building your prototype.
%h1 Stuff that I added below here
.welcome
  = molecule 'labeled-input', input_id: 'some_input', label_text: "Fill me out!"
